
<mat-toolbar color="primary" class="fixed-header">
  <button mat-raised-button color="primary">
    <mat-icon style="font-size: 30px">group</mat-icon><br>
    <span>Empresas</span>
  </button>
  <button mat-raised-button color="primary">
    <mat-icon style="font-size: 25px"> border_color</mat-icon><br>
    <span>Produtos</span>
  </button>
  <button mat-raised-button color="primary">
    <mat-icon style="font-size: 30px">bar_chart</mat-icon><br>
    <span>Cotação</span>
  </button>


  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <span style="font-style: italic; align-items: revert">GoodPrice</span>
  <mat-icon> bar_chart</mat-icon>
</mat-toolbar>
<mat-card class="size-card">
  <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
</mat-card>



<router-outlet></router-outlet>
